ClinicDTOs/src/PatientDTO.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="patientDTO">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="patient-id" type="xs:long"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="dob" type="xs:dateTime"/>
      <xs:element name="treatments" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

